{% extends "layout.html" %}

{% macro change_is_keyholder(user) -%}
    <form class="form-inline" action="{{ url_for(".change_is_keyholder", user_id=user.id) }}" method="POST">
        <input type="hidden" name="keyholder" value="{{ not user.is_keyholder }}">
        {% if user.is_keyholder %}
        <input class="btn btn-success" type="submit" value="Yes">
        {% else %}
        <input class="btn" type="submit" value="No">
        {% endif %}
    </form>
{%- endmacro %}

{% macro change_is_admin(user) -%}
    <form class="form-inline" action="{{ url_for(".change_is_admin", user_id=user.id) }}" method="POST">
        <input type="hidden" name="admin" value="{{ not user.is_admin }}">
        {% if user.is_admin %}
        <input class="btn btn-warning" type="submit" value="Yes">
        {% elif not user.nick %}
        <input class="btn" type="submit" disabled value="&mdash;">
        {% else %}
        <input class="btn" type="submit" value="No">
        {% endif %}
    </form>
{%- endmacro %}

{% block title %}User list{% endblock %}
{% block body %}
<h2>User list</h2>
<table class="table">
    <thead>
    <tr>
        <th>Nick</th>
        <th>Name</th>
        <th>Email</th>
        <th>Keyholder</th>
        <th>Admin</th>
        <th>Login PIN</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.nick or "" }}</td>
        <td>{{ user.name or "" }}</td>
        <td>{{ user.email or "" }}</td>
        <td>{{ change_is_keyholder(user) }}</td>
        <td>{{ change_is_admin(user) }}</td>
        <td><a href="{{ url_for('user.pin_create', user_id=user.id) }}">Create PIN</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
