{% macro take_key_form(key) -%}
    <form class="form-inline" action="{{ url_for("key_take", key_id=key.id) }}" method="POST">
        <input class="btn" type="submit" value="take">
    </form>
{%- endmacro %}

{% macro give_key_form(key, keyholders) -%}
    <form class="form-inline" action="{{ url_for("change_keyholder", key_id=key.id) }}" method="POST">
        <select name="keyholder_id">
            {% for keyholder in keyholders %}
            <option value="{{keyholder.id}}" {% if key.holder_id == keyholder.id %}selected{% endif %}>{{ keyholder }}</option>
            {% endfor %}
        </select>
        <input class="btn" type="submit" value="give">
    </form>
{%- endmacro %}

{% macro user_link(user) -%}
    {% if user %}
    <a href="{{ url_for('user.show', user_id=user.id) }}">{{ user }}</a>
    {% endif %}
{%- endmacro %}

{% macro keys_list(keys, keyholders, admin_list=False) %}
    <table class="table table-hover key-list">
        <thead>
        <tr>
            <th>Key</th>
            <th>Keyholder</th>
            <th>Change</th>
            <th>Last activity</th>
            {% if admin_list %}
            <th>Allocated</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for key in keys %}
        <tr class='{{ last_activity_color_class(key) }}'>
            <td><a href="{{ url_for('key', key_id=key.id) }}">{{ key.name }}</a></td>
            <td>{{ user_link(key.holder) }}</td>
            <td>
        {% if admin_list %}
            {{ give_key_form(key, keyholders) }}
        {% else %}
            {% if g.user != key.holder and not g.user.is_keymanager and not key.allocated %}
            {{ take_key_form(key) }}
            {% endif %}
            {% if g.user == key.holder or g.user.is_keymanager %}
                {{ give_key_form(key, keyholders) }}
            {% endif %}
        {% endif %}
        <td>{{ key.last_activity_str }}</td>
        {% if admin_list %}
            <td>{{ key.allocated }}</td>
        {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{%- endmacro %}

{% macro keys_list_ro(keys) %}
    <table class="table table-hover key-list">
        <thead>
        <tr>
            <th>Key</th>
            <th>Keyholder</th>
        </tr>
        </thead>
        <tbody>
        {% for key in keys %}
        <tr class='{{ last_activity_color_class(key) }}'>
            <td>{{ key.name }}</td>
            <td>{{ key.holder.public_name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{%- endmacro %}


{%- macro last_activity_color_class(key) -%}
{%- if key.last_activity.seconds <= 60*10 -%}success cursive
{%- elif key.last_activity.days < 3 -%}success
{%- elif key.last_activity.days < 7 -%}warning
{%- elif key.last_activity.days < 30 -%}error
{%- else -%}
{%- endif -%}
{%- endmacro -%}
