{% macro take_key_form(key) -%}
    <form class="form-inline" action="{{ url_for("key_take", key_id=key.id) }}" method="POST">
        <input class="btn" type="submit" value="take">
    </form>
{%- endmacro %}

{% macro give_key_form(key, keyholders) -%}
    <form class="form-inline" action="{{ url_for("change_keyholder", key_id=key.id) }}" method="POST">
        <select name="keyholder_id">
            {% for keyholder in keyholders %}
            <option value="{{keyholder.id}}" {% if key.holder_id == keyholder.id %}selected{% endif %}>{{ keyholder }}</option>
            {% endfor %}
        </select>
        <input class="btn" type="submit" value="give">
    </form>
{%- endmacro %}

{% macro user_link(user) -%}
    {% if user %}
    <a href="{{ url_for('user_show', user_id=user.id) }}">{{ user }}</a>
    {% endif %}
{%- endmacro %}

{% macro keys_list(keys, keyholders, admin_list=False) %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Key</th>
            <th>Keyholder</th>
            <th>Change</th>
        </tr>
        </thead>
        <tbody>
        {% for key in keys %}
        <tr>
            <td><a href="{{ url_for('key', key_id=key.id) }}">{{ key.name }}</a></td>
            <td>{{ user_link(key.holder) }}</td>
            <td>
        {% if admin_list %}
            {{ give_key_form(key, keyholders) }}
        {% else %}
            {% if g.user != key.holder and not g.user.is_keymanager %}
            {{ take_key_form(key) }}
            {% endif %}
            {% if g.user == key.holder or g.user.is_keymanager %}
                {{ give_key_form(key, keyholders) }}
            {% endif %}
        {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{%- endmacro %}

{% macro keys_list_ro(keys) %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Key</th>
            <th>Keyholder</th>
        </tr>
        </thead>
        <tbody>
        {% for key in keys %}
        <tr>
            <td><a href="{{ url_for('key', key_id=key.id) }}">{{ key.name }}</a></td>
            <td>{{ user_link(key.holder) }}</td>
        {% endfor %}
        </tbody>
    </table>
{%- endmacro %}
