{% extends "layout.html" %}
{% import "_macros.html" as macros %}

{% block title %}Key {{ key.name }}{% endblock %}
{% block body %}
<div class="row-fluid">
    <h2>Key {{ key.name }}</h2>
</div>
<div class="row-fluid">
    <div class="span9">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>From</th>
                <th>Holder</th>
                <th>Changed by</th>
            </tr>
            </thead>
            <tbody>
            {% for t in transactions %}
            <tr>
                <td>{{ t.start }}</td>
                <td>{{ macros.user_link(t.holder) }}</td>
                <td>{{ macros.user_link(t.user) }}</td>
                <td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
