{% extends "layout.html" %}

{% macro take_key(key) -%}
    <form style="display: inline" action="{{ url_for("key_take", key_id=key.id) }}" method="POST">
        <input type="submit" value="take">
    </form>
{%- endmacro %}

{% macro give_key(key, keyholders) -%}
    <form style="display: inline" action="{{ url_for("change_keyholder", key_id=key.id) }}" method="POST">
        <select name="keyholder_id">
            {% for keyholder in keyholders %}
            <option value="{{keyholder.id}}" {% if key.holder_id == keyholder.id %}selected{% endif %}>{{keyholder.nick}} - {{keyholder.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="change">
    </form>
{%- endmacro %}

{% block title %}Key list{% endblock %}
{% block body %}
<h2>Key list</h2>
    <ul>
    {% for key in keys %}
    <li>{{ key.name }} - Keyholder: {{ key.holder.nick }}
    {% if g.user != key.holder %}
    {{ take_key(key) }}
    {% endif %}
    - {{ give_key(key, keyholders) }}
    </li>
    {% endfor %}
    </ul>

{% endblock %}
