{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    
<div class="row-fluid">
    <div class="offset1 span4">
      <h2>Login</h2>
      <form action="" method=post>
        {{ form.hidden_tag() }}
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
        <p>
          KtT OpenID Name:
          {{ form.openid(size=30) }}
          <p>{{ form.remember_me() }} Remember Me</p>
          <input type=submit value="Sign in">
          <input type=hidden name=next value="{{ next }}">
      </form>
      <a href="{{ url_for('user.login_pin') }}">Login with PIN</a>
  </div>
</div>
{% endblock %}
